:root {
  --white: #ffffff;
  --black: #03040c;
  --grey: rgba(238, 238, 238, 0.411);
  --yellow: #f5e507;
  --lightBlue: #0a93e2;
  --darkBlue: #020a75;
  --lightRed: #e22e2e;
  --darkRed: #790404;
  --lightGreen: #33dd08;
  --darkGreen: #1e5002;
}

body {
  overflow-x: hidden;
  font-family: "Oswald", sans-serif !important;
  background: var(--white) !important;
  color: var(--black) !important;
}

.text-title {
  font-family: "Oswald", sans-serif;
  letter-spacing: 0.1rem;
}

.text-darkRed {
  color: var(--darkRed);
}

.text-lightRed {
  color: var(--lightRed);
}

.button-black {
  background: transparent;
  text-transform: capitalize;
  font-size: 0.8rem !important;
  color: var(--black);
  border-radius: 0 !important;
  border: 0.1rem solid var(--lightRed) !important;
}

.button-none {
  background: transparent;
  text-transform: capitalize;
  font-size: 0.8rem !important;
  color: var(--black);
  border-radius: 0 !important;
  border: 0.1rem solid var(--lightRed) !important;
  pointer-events: none;
}

.button-black:hover {
  border: 0.1rem solid var(--darkRed) !important;
  color: var(--white) !important;
  background: var(--darkRed);
}

.cart-icon {
  cursor: pointer;
  box-sizing: border-box;
  font-size: 1.5rem;
  color: var(--black);
}

.cart-icon:hover {
  cursor: pointer;
  color: var(--lightRed);
}
